@import '~bulma/css/bulma.css';
@import '~firebaseui/dist/firebaseui.css';

@import './theme.scss';

main {
  min-width: var(--min-width);
  width: var(--width);
  max-width: var(--max-width);
  display: block;
  padding: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:hover {
  color: inherit;
  filter: sepia(60%);
}

.popup {
  box-shadow: 1px 1px rgba(0, 0, 0, 0.3), -1px -1px rgba(0, 0, 0, 0.1);
}

p {
  margin-bottom: 0.5em;
}

i.is-deleted {
  display: block;
  opacity: 0.5;
}

img.icon {
  height: 1rem;
  width: auto;

  & + span {
    margin-left: 0.3rem;
  }
}

.media-content {
  overflow: visible;
}

aloud-editor {
  height: 200px;
}

aloud-subentry aloud-editor {
  height: unset;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.more {
  position: relative;
  width: 100%;
  margin-top: 1em;
  text-align: center;
  font-size: 0.8rem;
  border: none;
  cursor: pointer;
}

h5 i {
  font-weight: normal;
  font-size: 0.7em;
}

small {
  margin-top: 1em;
  display: block;

  &.dot-separated {
    > span {
      display: inline-block;
      background-color: transparent;

      & + span::before {
        content: ' · ';
      }

      > a {
        padding: 0.2rem;

        &.active {
          border: 1px solid;
          border-radius: 0.2rem;
        }
      }
    }
  }
}

.popup-container {
  cursor: pointer;

  > img:hover {
    filter: sepia(0.5);
  }

  .popup {
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 0;
    position: absolute;
    z-index: 1;
    left: max(50% - 150px, 10px);
    top: -80%;

    img {
      height: 1.5em;
      width: unset;
    }
  }
}
