@import '~bulma/css/bulma.css';
@import '~firebaseui/dist/firebaseui.css';

html {
  display: block;
  min-width: var(--min-width, 360px);
  max-width: var(--max-width, 800px);
  padding: 1rem;
  background-color: unset;

  * {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
}

p {
  margin-bottom: 0.5em;
}

img.icon {
  height: 1rem;
  width: auto;

  & + span {
    margin-left: 0.3rem;
  }
}

aloud-editor {
  height: 200px;
}

aloud-subentry aloud-editor {
  height: unset;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.more {
  position: relative;
  width: 100%;
  margin-top: 1em;
  text-align: center;
  font-size: 0.8rem;
  border: none;
  cursor: pointer;
}

h5 i {
  font-weight: normal;
  font-size: 0.7em;
}

small {
  margin-top: 1em;
  display: block;

  &.dot-separated {
    > span {
      & + span::before {
        content: ' · ';
      }

      > a {
        padding: 0.2rem;

        &.active {
          border: 1px solid;
          border-radius: 0.2rem;
        }
      }
    }
  }
}

// Fix Bulma styles
.content :not(a) {
  color: unset !important;
}
