@import '~bulma/css/bulma.css';
@import '~firebaseui/dist/firebaseui.css';

:host {
  // --min-width: 40vw;
  --width: max(600px, 50vw);
  --max-width: 100vw;

  // CodeMirror mod
  --cm-opacity: 50%;

  // Light theme
  --c-light-bg: #f8faef;
  --c-light-font: #1c1622;
  --c-light-link: #0a0ad6;
  --c-light-button: #e5edc5;
  --c-light-popup: white;

  // Dark theme
  --c-dark-bg: #393d3f;
  --c-dark-font: #fafbf9;
  --c-dark-link: #96bcda;
  --c-dark-button: #555b5e;
  --c-dark-popup: #555;

  // Light first
  --c-bg: var(--c-light-bg);
  --c-font: var(--c-light-font);
  --c-link: var(--c-light-link);
  --c-button: var(--c-light-button);
  --c-popup: var(--c-light-popup);

  @media (prefers-color-scheme: dark) {
    --c-bg: var(--c-dark-bg);
    --c-font: var(--c-dark-font);
    --c-link: var(--c-dark-link);
    --c-button: var(--c-dark-button);
    --c-popup: var(--c-dark-button);
  }

  min-width: var(--min-width);
  width: var(--width);
  max-width: var(--max-width);
  display: block;
  box-sizing: border-box;
}

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--c-font);
}

main {
  min-width: var(--min-width);
  width: var(--width);
  max-width: var(--max-width);
  display: block;
  padding: 1rem;

  background-color: var(--c-bg);
}

a {
  color: var(--c-link);

  &:hover {
    color: inherit;
    filter: sepia(60%);
  }
}

button {
  background-color: var(--c-button);
}

.popup {
  background-color: var(--c-popup);
  box-shadow: 1px 1px rgba(0, 0, 0, 0.3), -1px -1px rgba(0, 0, 0, 0.1);
}

// Fix Bulma styles
.content :not(a) {
  color: var(--c-font);
}

.dark {
  * {
    color: var(--c-dark-font);
  }

  main {
    background-color: var(--c-dark-bg);
  }

  a {
    color: var(--c-dark-link);
  }

  button {
    background-color: var(--c-dark-button);
  }

  .popup {
    background-color: var(--c-dark-popup);
  }

  // Fix Bulma styles
  .content :not(a) {
    color: var(--c-dark-font);
  }
}

.light {
  * {
    color: var(--c-light-font);
  }

  main {
    background-color: var(--c-light-bg);
  }

  a {
    color: var(--c-light-link);
  }

  button {
    background-color: var(--c-light-button);
  }

  .popup {
    background-color: var(--c-light-popup);
  }

  // Fix Bulma styles
  .content :not(a) {
    color: var(--c-light-font);
  }
}

p {
  margin-bottom: 0.5em;
}

i.is-deleted {
  display: block;
  opacity: 0.5;
}

img.icon {
  height: 1rem;
  width: auto;

  & + span {
    margin-left: 0.3rem;
  }
}

.media-content {
  overflow: visible;
}

aloud-editor {
  height: 200px;
}

aloud-subentry aloud-editor {
  height: unset;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.more {
  position: relative;
  width: 100%;
  margin-top: 1em;
  text-align: center;
  font-size: 0.8rem;
  border: none;
  cursor: pointer;
}

h5 i {
  font-weight: normal;
  font-size: 0.7em;
}

small {
  margin-top: 1em;
  display: block;

  &.dot-separated {
    > span {
      display: inline-block;
      background-color: transparent;

      & + span::before {
        content: ' · ';
      }

      > a {
        padding: 0.2rem;

        &.active {
          border: 1px solid;
          border-radius: 0.2rem;
        }
      }
    }
  }
}

.popup-container {
  cursor: pointer;

  > img:hover {
    filter: sepia(0.5);
  }

  .popup {
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 0;
    position: absolute;
    z-index: 1;
    left: max(50% - 150px, 10px);
    top: -80%;

    img {
      height: 1.5em;
      width: unset;
    }
  }
}
